.crectangle1 {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(35, 35, 33, 0.1) 0%,
    rgba(35, 35, 33, 0.1) 100%
  ),
  url('../img/rectangle/rectangle1.png') center / cover no-repeat;
  height: 923px;
  width: 100%;
  max-width: 100vw;
  top: 40px;
}

#hotel-title {
  font-family: 'Taviraj';
  font-size: 85px; /* Pozostawiona wielkość czcionki */
  font-weight: 390;
  line-height: 87%;
  letter-spacing: -0.02em;
  margin: 0;
  text-align: center;
  color: #fff;
  font-style: normal;
  /* Dodane klasy Bootstrap  */
  padding: 0 2rem;
  width: 100%;
}

.title-first-word,
.title-second-word {
  color: #ddd7d1;
}

.title-third-line {
  display: block;
  font-size: 26px; /* Pozostawiona wielkość czcionki */
  margin-top: 20px;
  color: #ddd7d1;
  letter-spacing: -0.02em;
}
