/* Menu */
body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #1e1e1e;
}

.navbar-container {
  background: linear-gradient(
    0deg,
    rgba(35, 35, 33, 1) 0%,
    rgba(35, 35, 33, 1) 100%
  ),
  linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(53, 53, 53, 1) 100%
  );
  height: 93px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo-container {
  height: 46px;
  width: 178px;
  position: relative;
  left: 152px;
}

.logo-img {
  max-height: 100%;
}

.navbar-nav {
  margin-right: 150px;
  display: flex;
  gap: 40px;
}

.nav-link {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 10%;
  color: #f4e5d7;
  opacity: 0.6;
}

.nav-link:hover {
  opacity: 0.6;
}

.long-link {
  line-height: 1.1;
}

/* Stylizacja zdjęcia */
#part_one_img img {
  object-fit: cover;
  width: 100%;
}

/* Stylizacja sekcji tekstu */
#text_field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Stylizacja ramki 28 */
#lorem_ipsum_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  max-width: 410.52px;
  margin-top: 20px;
}

#lorem_ipsum_text span,
#lorem_ipsum_text div {
  align-items: flex-start;
}

/* Stylizacja tekstu Massa fermentum */
#title {
  color: #F4E5D7;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Stylizacja ramki 26 */
#text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

/* Stylizacja tekstu Rutrum odio morbi nullam est arcu egestevas */
#text_lorem_one {
  color: #F3F3F3;
  font-family: Taviraj;
  font-size: 46px;
  font-weight: 300;
  line-height: 49px;
  letter-spacing: -0.01em;
  text-align: left;
  width: 100%;
  max-width: 410.52px;
}

/* Stylizacja tekstu Sed sagittis tempus sed at vitae id id sem suspendisse */
#text_lorem_two {
  color: #F3F3F3;
  font-family: Taviraj;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 100%;
  max-width: 410.52px;
  height: 162px;
}

/* Stylizacja ramki 35 */
#button_field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

/* Stylizacja buttona large-secondary */
#button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 30px;
  gap: 12px;
  width: 183px;
  height: 44px;
  background: #323231;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  align-self: flex-start;
}

#button span {
  color: #EFEFEF;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
}

.button-text {
  color: #EFEFEF;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

/* Stylizacja tekstu Poznaj nas */
#Poznaj_nas {
  color: #EFEFEF;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  text-align: center;
}

/* Stylizacja obrazka w buttonie */
#vector_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

#vector_img img {
  width: 100%;
  height: 100%;
}

/* Rectangle1 */
.crectangle1 {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(35, 35, 33, 0.1) 0%,
    rgba(35, 35, 33, 0.1) 100%
  ),
  url('../img/rectangle/rectangle1.png') center / cover no-repeat;
  height: 930px;
  width: 100%;
  max-width: 100vw;
}

.crectangle1 > .container-fluid {
  margin-top: -34px;
}

#hotel-title {
  font-family: 'Taviraj';
  font-size: 86px;
  font-weight: 300;
  line-height: 75px;
  letter-spacing: -0.02em;
  margin: 0;
  text-align: center;
  color: #fff;
  font-style: normal;
  /*padding: 0 2rem;*/
  width: 100%;
}

.title-first-word,
.title-second-word {
  color: #ddd7d1;
}

.title-third-line {
  display: block;
  font-size: 26px;
  margin-top: 20px;
  color: #ddd7d1;
  letter-spacing: -0.02em;
}

.rectangle-8 {
  max-width: 1595px;
  max-height: 1703px;
  background-color: #353535;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.custom-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 54px;
  width: 841px;
  height: 52px;
}

.font-taviraj {
  font-family: 'Taviraj', serif;
}

/* Stylowanie sekcji #_1_239_Coiumns */
#_1_239_Coiumns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem; /* gap dostosowany do wartości 5 */
}

/* Stylowanie frames*/
#_1_240_Frame_6,
#_1_248_Frame_7,
#_1_254_Frame_9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 3rem; /* gap dostosowany do wartości 3 */
}

/* envelope (3) 1 */
/* Stylowanie dla .envelope (3) 1 */
#_1_250_envelope__3__1, #_1_242_phone-ringing_1, #_1_256_envelope__3__1 {
  width: 28px;
  height: 28px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Stylowanie dla pozostałych elementów */
#_1_242_phone-ringing_1 img, #_1_250_envelope__3__1 img, #_1_256_envelope__3__1 img {
  position: absolute;
  left: 6.27%;
  top: 6.27%;
}

#_1_259_Frame_510 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem; /* gap dostosowany do wartości 3 */
  width: 206px;
}

.navbar-container .nav-link {
  color: #f4e5d7;
  opacity: 0.6;
}

.navbar-container .nav-link.active {
  opacity: 1;
}

.navbar-container .nav-link.long-link {
  display: inline-block;
}

.rectangle-8 {
  height: 1703px;
}

.icon-container {
  height: 28px;
  width: 28px;
}

.contact-text {
  font-size: 18px;
  line-height: 26px;
}

.address-container {
  width: 206px;
}

.form-group-wrapper {
  position: absolute;
  height: calc(419px - 0px - 0px);
  width: calc(100% - 0px - 0px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 12px;
}

.form-textedit-group {
  position: relative;
  height: 56px;
  width: calc(100% - 0px - 0px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 12px;
}

.form-textedit {
  position: relative;
  border-color: #4c4c4cff;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 16px 24px 16px 18px;
}

.form-placeholder {
  color: #969696ff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  height: 22px;
  position: relative;
}

.form-message {
  position: relative;
  border-color: #4c4c4cff;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  height: 116px;
  width: calc(100% - 18px - 24px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 16px 24px 16px 18px;
}

.form-checkbox-wrapper {
  position: relative;
  width: calc(100% - 0px - 0px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 12px;
}

.form-checkbox {
  position: relative;
  height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.form-checkbox-base {
  position: relative;
  overflow: hidden;
  border-color: #656565ff;
  border-style: solid;
  border-width: 0.99999988px;
  border-radius: 3.99999952px;
  height: 14px;
  width: 14px;
}

.form-checkbox-check {
  position: absolute;
  overflow: hidden;
  height: 75%;
  width: 75%;
  left: calc(100% * 0.125);
  top: calc(100% * 0.12500134);
}

.form-checkbox-check img {
  position: absolute;
  left: calc(100% * 0.16666666);
  top: calc(100% * 0.25000178);
}

.form-checkbox-text {
  color: #676767ff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -1%;
  text-align: left;
  height: 68px;
  position: relative;
}

.form-submit {
  position: relative;
  background: rgba(73, 73, 73, 1);
  border-radius: 2px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.07));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  padding: 11px 30px;
  cursor: pointer;
}

.form-submit-text {
  color: #efefefff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 19%;
  text-transform: uppercase;
  text-align: center;
  height: 22px;
  position: relative;
}

.form-submit-icon {
  position: relative;
  overflow: hidden;
  height: 16px;
  width: 16px;
}

.form-submit-icon img {
  position: absolute;
  left: calc(100% * 0.09375399);
  top: calc(100% * 0.2093048);
}


.custom-div {
  background-color: #353535; /* Tło dla widoczności */
  width: 100%;
  max-width: 1600px;
  height: auto; /* Auto dostosowywanie wysokości */
  aspect-ratio: 1600 / 1932; /* Utrzymanie proporcji */
}

/* Dodane media queries */

/* Style dla ekranów powyżej 1200px */
@media (min-width: 1200px) {
  .navbar-container {
    height: 93px;
    padding: 0 20px;
  }

  .logo-container {
    height: 46px;
    width: 178px;
    position: relative;
    left: 152px;
  }

  .navbar-nav {
    margin-right: 150px;
    gap: 40px;
  }

  .navbar-nav .nav-link {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 10%;
    color: #f4e5d7;
    opacity: 0.6;
  }
}

/* Style dla ekranów pomiędzy 992px a 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav {
    margin-right: 100px;
    gap: 30px;
  }

  .navbar-nav .nav-link {
    font-size: 10px;
  }

  .logo-container {
    left: 100px;
  }

  .custom-div {
    max-width: 960px;
  }
}

/* Style dla ekranów pomiędzy 768px a 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    margin-right: 50px;
    gap: 20px;
  }

  .navbar-nav .nav-link {
    font-size: 8px;
  }

  .logo-container {
    left: 50px;
  }

  .custom-div {
    max-width: 720px;
  }
}

/* Style dla ekranów pomiędzy 576px a 767px */
@media (min-width: 576px) and (max-width: 767px) {
  .navbar-nav {
    margin-right: 25px;
    gap: 15px;
  }

  .navbar-nav .nav-link {
    font-size: 9px; /* Zwiększono czcionkę */
  }

  .logo-container {
    left: 25px;
  }

  .custom-div {
    max-width: 540px;
  }

  .small-text {
    font-size: 12px;
  }
}

/* Style dla ekranów poniżej 576px */
@media (max-width: 575px) {
  .navbar-container {
    padding: 0 10px;
    height: auto;
  }

  .navbar-nav {
    margin-right: 10px;
    gap: 15px; /* Zwiększono gap */
  }

  .navbar-nav .nav-link {
    font-size: 10px; /* Zwiększono czcionkę */
  }

  .logo-container {
    left: 10px;
  }

  .custom-div {
    width: 100%;
  }

  .crectangle1 {
    height: 550px; /* Zmniejszenie wysokości */
  }

  .custom-content {
    flex-direction: column; /* Zmiana orientacji na kolumnę */
  }

  .service-text {
    font-size: 8px; /* Zmniejszenie czcionki */
  }

  .form-group-wrapper {
    width: 100%;
    padding: 0 10px; /* Dodanie paddingu */
  }
}

/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-fluid {
  padding: 0;
  margin: 0 auto;
}

.TextFrame {
  width: 1300px;
  height: 416px;
  box-shadow: 0px 46px 70px rgba(52.06, 1.3, 1.3, 0.06);
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.Frame1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 185px 125px;
  background: linear-gradient(124deg, #BCBDBF 0%, #D6D6D8 100%);
  gap: 10px;
}

.Frame28 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.SzybkiKontakt {
  color: white;
  font-size: 12px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 2.28px;
  word-wrap: break-word;
}

.Frame26 {
  height: 96px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.PlanujeszWeseleSzukaszLokalu {
  color: #353535;
  font-size: 42px;
  font-family: 'Taviraj', serif;
  font-weight: 300;
  line-height: 48px;
}

.Frame35 {
  display: flex;
  gap: 10px;
}

.LargeSecondary {
  padding: 11px 30px;
  background: #E4E4E4;
  border-radius: 2px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.SkontaktujSi {
  text-align: center;
  color: #535353;
  font-size: 12px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 2.28px;
}

.SystemArrowRight {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vector {
  width: 12.66px;
  height: 9.30px;
}

.big_tower {
  width: 808px;
  height: 755.42px;
  border: 1px 0px 0px 0px;
  position: absolute;
  top: 0;
}

.big_tower.right {
  right: -330px;
}

.big_tower.left {
  left: -330px;

}

.layout_one {
  padding-top: 40px;
  margin-top: 40px;
  padding-bottom: 140px;
  display: flex;
  justify-content: center;
}

.Img23981 {
  flex: 1;
  align-self: stretch;
}

.Rectangle7 {
  width: 1600px;
  height: 1867px;
  background: #353535;
}

.Frame497 {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.Frame34 {
  padding: 12px 24px;
  border-radius: 30px;
  border: 1px solid transparent;
  display: flex;
}

.NaszeUsUgi {
  text-align: center;
  color: #F4E5D7;
  font-size: 12px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 2.28px;
}

.Frame496 {
  height: 48px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ZameczekEmilianWOferuje {
  text-align: center;
  color: #F3F3F3;
  font-size: 46px;
  font-family: 'Taviraj', serif;
  font-weight: 300;
  line-height: 48px;
}

/* Icon Containers */
.Frame506,
.Frame507 {
  display: flex;
  gap: 16px;
  align-items: center;
}

.Frame498, .Frame499, .Frame500, .Frame501, .Frame502, .Frame503, .Frame504, .Frame505 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.Bufet, .Catering, .Klimatyzacja, .KCikDlaDzieci, .OgrDek, .ImprezyPrywatne, .MiejsceDlaPalCych, .PrzyjCiaWeselne {
  text-align: center;
  color: #F3F3F3;
  font-size: 18px;
  font-family: 'Taviraj', serif;
  font-weight: 300;
  line-height: 24px;
}

/* Example styling for placeholder images */
.Layer1, .Capa1 {
  background: #CFBA9B;
}

img {
  max-width: 100%;
  height: auto;
}


/* Stylowanie sekcji tekstu w mobil
